<div class="mb-1 p-4 container-fluid projectListContainer">
<!-- 
    project config info
    name date project memebers

    notes with more and hide option
-->

<!-- 
     config cards as info,
     chart in mobile size
-->

<!--     
    teams and taks grid
-->

    <div class='content d-flex flex-column'>
        <div class="bg-white configInfoContainer p-4">
            <div class="info d-flex justify-content-between">
                <div>
                    <div class=title>PROJECT NAME</div>
                    <div class="mt-2 date">
                        <span><i class="far fa-calendar-alt mr-2"></i></span>
                        <span class="p-0 pl-1 pr-1 btn btn-outline-secondary">18-09-2020</span>
                        <span> - </span>
                        <span class="p-0 pl-1 pr-1 btn btn-outline-secondary">18-09-2020</span>
                    </div>
                </div>
                <div class="title">
                    <ul class="list-unstyled team-info m-t-20">
                        <li class="mr-3"><small class="text-muted">Team</small></li>
                        <li><span class="bg-primary avatar-plain"></span></li>
                        <li><span class="bg-secondary avatar-plain"></span></li>
                        <li><span class="bg-info avatar-plain"></span></li>
                        <li><span class="bg-warning avatar-plain"></span></li>
                        <span class="avatar-plain">10</span>
                    </ul>
                </div>
            </div>
            <div class="w-50 mt-2 notes">
                <div [ngStyle]="noteStyle" class='note-text'>
                    here comes the large text of the project
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil quos repellendus aut quasi! Itaque labore voluptates vitae cumque dolorem, molestias obcaecati doloribus cum pariatur adipisci? Veritatis autem laboriosam optio.
                </div>
                <span (click)="notesToggle$.next(!this.projectNoteHidden)" class="more text-primary">{{this.projectNoteHidden ? 'more' : 'less'}}</span>
            </div>
        </div>


        <ng-container *ngIf="statsStyle | async as appearance">
            <div class="bg-white mt-3  statsContent">
                <div class='card-title d-flex justify-content-between'>
                    <span>
                        Stats
                    </span>
                    <span class="text-right" (click)="appearance === 'row'? statsStyle.next('column'): statsStyle.next('row')">
                        <i *ngIf="appearance === 'column'" class="fas fa-th-large"></i>
                        <i *ngIf="appearance === 'row'" class="fas fa-grip-lines-vertical"></i>
                    </span>
                    
                </div>
                
                <div class="cards-container p-4" >
                    <div class="card-container" *ngFor="let item of projectInfo.statusCounts">
                        <ng-container statCards[item.type] as styleInfo>
                            <canvas #chart [id]="item.type" id="card" class="card"></canvas>
                            <!-- <app-widget [data]="item" [appearance]="appearance" [theme]="statCards[item.type].theme"></app-widget> -->
                        </ng-container>
                    </div>
                </div>
                
            </div>
        </ng-container>
    </div>

</div>