<div class="reg_container">

  <!-- 
    Need to move this page title to shared component 
    configure to take class from parent component
    primary and seconday should be dynamic
    secondary is optional
  -->
  <ng-container *ngIf="!isRegistered">
    <div class="title_container">
      <div class="title">
        <div class="primary">Register With OSS</div>
        <span class="secondary">Register to Experience the fluid program management</span>
      </div>
    </div>


    <div class="reg_main_content d-flex flex-column flex-sm-row">
        
        <div  class=" prd_core_theme_cover"></div>

        <div class="reg_page_card">
            <div class="reg_page_container">
                <mat-card class="mat-card mat-focus-indicator reg_page">
                    
                    <mat-card-content>
                        <div>
                            <form [formGroup]="registerForm" (ngSubmit)="register()">
                                <div class="form-group">
                                  <label for="email">Email address</label>
                                  <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email Address">
                                  <div>  
                                    <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                                      <div *ngIf="email.errors.required">
                                        <span class='error'>Email is required</span>
                                      </div>
                                      <div *ngIf="email.errors.email">
                                        <span class="error">Enter Valid Email Id</span>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label for="password">Password</label>
                                  <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter Password">
                                  <div>
                                    <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
                                      <div *ngIf="password.errors.required">
                                        <span class='error'>password is required</span>
                                      </div>
                                      <div *ngIf="password.errors.minlength">
                                        <span class="error">Enter minimum 4 characters</span>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>

                                <div class="form-check">
                                  <input formControlName="registerAsAdmin" type="checkbox" class="form-check-input" id="registerAsAdmin">
                                  <label class="form-check-label" for="registerAsAdmin">Admin</label>
                                  <div></div>
                                </div>

                                <div class="form-group">
                                    <label for="username">User Name</label>
                                    <input formControlName="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter User Name">
                                    <div>
                                      <ng-container *ngIf="username.invalid && (username.dirty || username.touched)">
                                        <div *ngIf="username.errors.required">
                                          <span class='error'>User Name is required</span>
                                        </div>
                                        <div *ngIf="username.errors.minlength">
                                          <span class="error">Enter minimum 4 characters</span>
                                        </div>
                                      </ng-container>  
                                    </div>
                                </div>
      
                                <button type="submit" class="btn btn-primary">Register</button>

                              </form>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        
    </div>
  </ng-container>
  <ng-container *ngIf="isRegistered">

  </ng-container>
</div>