.member-oss-dashbaoard .card{cursor: pointer;}

.total-count{border: 3px solid red;
    border-radius: 100%;    
    font-size: 34px;
    line-height: 39px;
    text-align: center;
}
.member-oss-dashbaoard .card-body{padding: 16px;}
@media only screen and (max-width: 1400px) {
    .col-8 , .col-4{
        padding: 0px;
    }
    .total-count{
        line-height: unset;
    }

   }
   .member-oss-dashbaoard{
       .col-md-2{
        @media only screen and (max-width: 1400px) {
            
                -webkit-box-flex: 0;
                flex: 0 0 19.666667%;
                max-width: 19.666667%;
                .card-header{
                    padding: 7px;
                }
                .card-body{
                    padding: 20px;
                }
            
        }
       }
   }

   .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.bg-gradient-info {
    background: linear-gradient(87deg,#11cdef 0,#1171ef 100%)!important;
}
.text-white {
    color: #fff!important;
}
.avatar.rounded-circle img, .rounded-circle {
    border-radius: 50%!important;
}
.shadow {
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
}
.icon {
    width: 3rem;
    height: 3rem;
}
.number{
    font-size: 20px;
    margin: 1%;
}
.fs-16{
    font-size: 16px;
}
.bg-green{
    background-color: #3DD3B0
}
.bg-violet{
    background-color: #C296E5
}
.bg-blue{
    background-color: #02BEDE
}
.bg-orange{
    background-color: #FC9264
}
.text-muted{
    // color:#000 !important;
    color: #fff !important;
    font-weight: 700;
}
.bg-yellow{
    background-color: #FCCE58
}
.card{
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    outline: none;
    // transition: all .2s ease-in-out;
}
// .card-user {
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     // transition: 0.3s;

//   }
.animation :hover{
    transform: scale(1.01);
}
.no-animate{
    transform: scale(1.0)
}
// .animation {
//     transition: all .15s ease-in-out
// }
.container-flex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.place-middle{
    
height: 250px
}

@media (max-width : 1500px){
    .col-xl-3 {
        -webkit-box-flex: 0;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}