.upload-btn-wrapper {
    position: relative;
    overflow: hidden;    
  }  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .fileName{
    color:#00535E;
    font-weight: 700;
  }
  input[type=file], input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}