// .flex-container{display: flex; justify-content: center; align-items: center; height: auto;}
// .card{background-color: #7783923d;  border: 1px solid #23282c;}
// .login-set h5{font-size: 25px;color: #fff;}
// .margin15{margin-top: 15%}
// .form-control{background-color: #0c0b0b69; color: #fff;}

.flex-container{display: flex; justify-content: center; align-items: center; height: auto;}
.card{background-color: rgba(93, 125, 167, 0.24);  border: 1px solid #23282c;}
.login-set h5{font-size: 25px;color: #fff;}
.margin15{margin-top: 15%}
.form-control{background-color: rgba(93, 125, 167, 0.24);; color: #fff;}
// .form-control{background-color: #0c0b0b69; color: #fff;}
// .card[_ngcontent-jrl-c2] {
//     background-color: rgba(119, 131, 146, 0.23921568627450981);
//     border: 1px solid #23282c;
// } 
.showMsg{font-size: 18px;
    color: red;
    /* background-color: #fff; */
    padding: 4px 10px;
    font-weight: 700;}