<div class="row">
  <div class="col-md-12">
    <p-table [value]="profiles">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Profile Name</th>
          <th>Created On</th>
          <th>Modified On</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-profile>
        <tr>
          <td>{{profile.Id}}</td>
          <td>{{profile.Profile_Name }}</td>
          <td>{{profile.created_on | date}}</td>
          <td>{{profile.modified_on | date}}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" class="ui-button-info"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>