<div class="projectContainer mb-1 p-4">
    <div class="projectConfigFormContainer bg-white p-2">
        <form class="projForm" [formGroup]="projConfigForm" (ngSubmit)="0">
            <div class="formElems">

                <div class="form-group">
                <label for="email">Project Id</label>
                <input formControlName="projectId" type="text" class="form-control" id="projectId"  placeholder="Enter Project Id">
                <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                    </div>
                    <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                    </div>
                    </ng-container> -->
                </div>
                </div>

                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input formControlName="projectName" type="text" class="form-control" id="projectName"  placeholder="Enter Project Name">
                    <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                        </div>
                        <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                        </div>
                    </ng-container> -->
                    </div>
                </div>            

                <div class="form-group" [attr.datepicker]="true">
                    <label for="pStartDate">Project Start Date</label>
                    <input  readonly [matDatepicker]="pStartDate" formControlName="pStartDate" type="text" class="form-control" id="pStartDate"  placeholder="Select Project Start Date">
                    <mat-datepicker-toggle matSuffix [for]="pStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pStartDate></mat-datepicker>
                    <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                        </div>
                        <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                        </div>
                    </ng-container> -->
                    </div>
                </div>            


                <div class="form-group" [attr.datepicker]="true">
                    <label for="pEndDate">Project EndDate</label>
                    <input readonly [matDatepicker]="pEndDate" formControlName="pEndDate" type="text" class="form-control" id="pEndDate"  placeholder="Select Project EndDate">
                    <mat-datepicker-toggle matSuffix [for]="pEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pEndDate></mat-datepicker>
                    <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                        </div>
                        <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                        </div>
                    </ng-container> -->
                    </div>
                </div>            


                <div class="form-group" [attr.datepicker]="true">
                    <label for="aStartDate">Actual Start Date</label>
                    <input readonly [matDatepicker]="aStartDate" formControlName="aStartDate" type="text" class="form-control" id="aStartDate"  placeholder="Select Project Start Date">
                    <mat-datepicker-toggle matSuffix [for]="aStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #aStartDate></mat-datepicker>
                    <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                        </div>
                        <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                        </div>
                    </ng-container> -->
                    </div>
                </div>            

                <div class="form-group" [attr.datepicker]="true">
                    <label for="aEndDate">Actual End Date</label>
                    <input readonly [matDatepicker]="aEndDate" formControlName="aEndDate" type="text" class="form-control" id="aEndDate"  placeholder="Select Actual End Date">
                    <mat-datepicker-toggle matSuffix [for]="aEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #aEndDate></mat-datepicker>

                    <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                        </div>
                        <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                        </div>
                    </ng-container> -->
                    </div>
                </div>     


                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea formControlName="notes" type="text" class="form-control" id="notes"  placeholder="Enter Notes"></textarea>
                    <div>  
                    <!-- <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                        <span class='error'>Email is required</span>
                        </div>
                        <div *ngIf="email.errors.email">
                        <span class="error">Enter Valid Email Id</span>
                        </div>
                    </ng-container> -->
                    </div>
                </div>   
            
                <div class="filler form-group"></div>

                <div  class="formTableContainer">
                    <div class="mb-2 table-title-container">
                        <span (click)="addMemEvent$.next('add')" class="bg-info text-white cardStyle"><i class="fas fa-plus"></i> Add Member</span>
                    </div>
                    <div class="table-responsive formTable">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Skill</th>
                                <th scope="col">Role</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody formArrayName="projectMembers">
                              <tr *ngFor="let memCtrlInfo of members; let i=index; last as isLast; first as isFirst">
                                <th scope="row">
                                    <div class="form-group">
                                        <select [formControlName]="i" class='form-control'>
                                            <option value="">-- Select Member Name --</option>
                                            <option *ngFor="let mem of membersFreez" [value]="mem.email">{{mem.name}}</option>
                                        </select>
                                        <!-- <input [matAutocomplete]="auto" [formControlName]="i" type="text" class="form-control">
                                        <mat-autocomplete  #auto="matAutocomplete">
                                            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                                                {{street}}
                                              </mat-option>
                                        </mat-autocomplete> -->
                                    </div>                                    
                                </th>
                                <td>{{ memCtrlInfo.email}}</td>
                                <td>{{ memCtrlInfo.skill}}</td>
                                <td><span class="mr-2 badge badge-pill badge-secondary" *ngFor="let r of memCtrlInfo.role">{{r.role}}</span></td>
                                <td>
                                    <i (click)="removeMemEvent$.next(i)"  class="fas fa-trash"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </form>    

    </div>
</div>