.row{
    height: 8%;
    margin-left: 2%;
    margin-right: 3%;
}
.btn-size{
    width: 70%;
    height: 100%;
}
.padding-top{
    padding-top: 20px;
}
.add-padding{
    padding: 30px;
}

.pad2{
    padding: 2%;
}
.green{
    color: green
}
.align-top{
    // margin-top: 16px;
    width: 300px;
  }
  .menu-selection-outer {
    padding-left: 25px;
    padding-right: 25px;
}
.menu-selection {
    height: 150px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: "BTFont_Bd";
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
}
.add-padding-btn{
    padding-top: 2%;
    padding-left: 42%;
}
.ml-3{
    margin-left: 3% !important;
}