.mile-stone-task{padding:16px;}
.mile-stone-task .modal-header{padding: 13px 0;}
.create-task{border: 2px solid #C8E4E5}
.commom-header-color{color: #00535E;}
.align-text{
    text-align: center;
    padding-top: 10px;
}
.add-margin{
    margin-left: 15px;
}
.commonDate{width:21%;}
.fixDate{
    width: 15%;
}