$content-bg-clr: rgba(0, 0, 0, 0.06);
$text-color: rgba(0,0,0,.87);
$box-shadow-general: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);


//colors
$main-content-bg-clr: #f1f4f6;
$border-clr: rgba(26,54,126,0.125);
$header-color: #495057;

//shadow
$box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);

