.widget-numbers {
    font-weight: bold; 
    font-size: 1.8rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.avatar-plain {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}